__pycache__
**swp

# pyenv
.python-version

#pyflow
__pypackages__/

# Environments
/venv/**
/.idea/**
**drivers

# Config files

# Database

# Test files
.pytest_cache/

# Reports
**assets
**reports

# Log files
tests/geckodriver.log

# Input files

# Output files
